.header {
  position: fixed;
  top: 0;
  z-index: 11;

  width: 100%;

  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.header__wrapper {
  display: flex;
  max-width: 1185px;
  margin: 0 auto;
  padding: 15px 20px;
}


.header__nav-list {
  display: flex;
  justify-content: space-between;
  min-width: 605px;
}

.header__link {
  color: black;

  &:hover {
    color: $blue-color;
  }
}

.header__nav-item {

  &--drop {
    position: relative;
  }
}

.header__nav-item:hover .header__arrow-icon {
 fill: $blue-color;
}

.header__arrow-icon {
  margin-left: 5px;
  vertical-align: middle;

  transform: rotate(90deg);

  &.reversed {
    transform: rotate(270deg);
  }
}

.origami-bird {
  position: absolute;
  bottom: -81px;
}