.slider {
  display: flex;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.slider__nav {
  display: flex;
  flex-direction: column;
}

.slider__counter {
  font-family: inherit;
  color: $blue-color;

  transition: inherit;
}

.slider__nav-button {
  width: 100%;
  padding: 15px 10px;

  background: transparent;
  background-color: white;
  border: 1px solid #DFE1E5;
  outline: none;

  font-size: 18px;
  text-align: left;

  &:hover, &:focus {
    background-color: $blue-color;
    color: white;
  }

  &:active {
    opacity: 0.4;
  }
}

.slider__nav-button:hover .slider__counter,
.slider__nav-button:focus .slider__counter {
  color: white;
}

.slider__scene {
  width: 500px;
  margin: 0 auto;
  padding: 20px 25px;

  background-color: white;
  border-radius: 8px;

  perspective: 600px;

  transition: all 0.3s;

  &.change-slide {
    animation: change-slide 0.5s ease-out 0s 1 forwards running;
  }
}


@keyframes change-slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slider__text {
  margin-top: 20px;
}


.slider__block {

  &+& {
    margin-top: 30px;
  }
}