<header class="header">
  <picture>
    <source type="image/webp" srcset="img/origami.webp">
    <img class="origami-bird" src="img/origami.png" alt="Picture of origami bird" width="110" height="81">
  </picture>

  <div class="header__wrapper">
    <nav class="header__nav" role="navigation">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a class="header__link" href="index.html">Home</a></li>
        <li class="header__nav-item header__nav-item--drop">
          <a class="header__link" href="#">
            Applications
            <svg class="header__arrow-icon" width="15" height="15" aria-hidden="true">
              <use xlink:href="img/svg/sprite.svg#right-arrow"></use>
            </svg>
          </a>

          <div class="drop-block">
            <ul class="drop-list">
              <li class="drop-item">
                <a href="architecture.html">
                  <svg class="drop-icon" width="30" height="30" aria-hidden="true">
                    <use xlink:href="img/svg/sprite.svg#plan"></use>
                  </svg>
                  Architecture
                </a>
              </li>

              <li class="drop-item">
                <a href="computer-science.html">
                  <svg class="drop-icon" width="30" height="30" aria-hidden="true">
                    <use xlink:href="img/svg/sprite.svg#engenering"></use>
                  </svg>
                  Computer Science
                </a>
              </li>

              <li class="drop-item">
                <a href="cosmology.html">
                  <svg class="drop-icon" width="30" height="30" aria-hidden="true">
                    <use xlink:href="img/svg/sprite.svg#planets"></use>
                  </svg>
                  Cosmology
                </a>
              </li>

              <li class="drop-item">
                <a href="mathematics.html">
                  <svg class="drop-icon" width="30" height="30" aria-hidden="true">
                    <use xlink:href="img/svg/sprite.svg#maths"></use>
                  </svg>
                  Mathematics
                </a>
              </li>

              <li class="drop-item">
                <a href="engineering.html">
                  <svg class="drop-icon" width="30" height="30" aria-hidden="true">
                    <use xlink:href="img/svg/sprite.svg#plans"></use>
                  </svg>
                  Engineering
                </a>
              </li>

              <li class="drop-item">
                <a href="#">
                  <svg class="drop-icon" width="30" height="30" aria-hidden="true">
                    <use xlink:href="img/svg/sprite.svg#virus"></use>
                  </svg>
                  Biology
                </a>
              </li>

              <li class="drop-item">
                <a href="#">
                  <svg class="drop-icon" width="30" height="30">
                    <use xlink:href="img/svg/sprite.svg#pharmacy"></use>
                  </svg>
                  Medicine
                </a>
              </li>

              <!--<li class="drop-item">-->
                <!--<a href="#">-->
                  <!--<svg class="drop-icon" width="30" height="30">-->
                    <!--<use xlink:href="img/svg/sprite.svg#dna"></use>-->
                  <!--</svg>-->
                  <!--Genetics-->
                <!--</a>-->
              <!--</li>-->

              <li class="drop-item">
                <a href="biomedical-science.html">
                  <svg class="drop-icon" width="30" height="30">
                    <use xlink:href="img/svg/sprite.svg#dna"></use>
                  </svg>
                  Biomedical Science
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="header__nav-item"><a class="header__link" href="#">Our Experiments</a></li>
        <li class="header__nav-item"><a class="header__link" href="#">Demonstrations</a></li>
        <li class="header__nav-item"><a class="header__link" href="#">About us</a></li>
      </ul>
    </nav>
  </div>
</header>