<div class="slider">
  <ul class="slider__nav">
    <li>
      <button class="slider__nav-button">
        <span class="slider__counter">08.</span> Kourosh Khodabakhsh
      </button>
    </li>
  </ul>

  <div class="slider__scene">
    <div class="slider__block">
      <p class="title--line title--h4 slider__title slider__title--name">

      </p>
      <p class="slider__text slider__person-about">

      </p>
    </div>

    <div class="slider__block slider__block--responsibilities">
      <p class="title--line title--h4 slider__title">
        Responsibilities:
      </p>

      <ul class="list list--vertical"></ul>
    </div>
  </div>

  <ul class="slider__nav slider__nav--second"></ul>
</div>