.block {
  margin: 0 auto;

  &--img {
    margin-top: 30px;
  }

  &--center {
    display: flex;
    justify-content: center;
  }

  &--imgs-line {
    display: flex;
    justify-content: space-between;
    max-height: 300px;
  }

  &--300px {
    display: block;
    max-width: 300px;
  }
}

.block--imgs-line picture {
  width: calc(50% - 20px);
}

.block--three picture {
  width: 30%;
}