.download-file {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50px;
  margin-top: 15px;
  padding: 15px;

  background-color: $blue-color;
  border-radius: 6px;

  color: white;
  text-align: center;

  outline: none;

  transition: background-color 0.5s linear;

  &:hover, &:focus {
    background-color: #137dcc;
    transition: all .3s ease;
  }
}

.download-file__icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  visibility: hidden;

  width: 50px;
  height: 50px;
  margin: 0 auto;

  pointer-events: none;

  transition: transform .4s cubic-bezier(0.425, -0.195, .005, 1.215), opacity .4s linear;
  transform: translate3D(0, -4em, 0) scale(0);
}

.download-file:hover .download-file__icon,
.download-file:focus .download-file__icon {
  opacity: 1;
  visibility: visible;

  transform: translate3D(0, 0, 0) scale(1);
}

.download-file:hover .download-file__title,
.download-file:focus .download-file__title {
  opacity: 0;
  visibility: hidden;

  transform: translate3D(0, 4em, 0) scale(0.25);
}

.download-file__title {
  position: absolute;
  //top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  visibility: visible;

  //margin: 40px auto;

  text-align: center;

  transition: transform 0.4s cubic-bezier(0.425, -0.195, 0.005, 1.215), opacity 0.13333s linear;
  transform: scale(1);
}

.download-link {
  color: $blue-color;
}